 * {
     margin: 0;
 }

body {
    background-color: #F0F0F0;
}

.header_background {
    height: 90px;
    width: 100%;
    background-color: #ffffff;
}


.icon_large {
    font-family: 'Anton', sans-serif;
    color: white;
    height: 6.5em;
    width: 6.5em;
    line-height: 95px;
    border: 5px solid white;
    border-radius: 57.5px;
    text-align: center;
    margin: 0 auto;
}


.icon_small {
    font-family: 'Anton', sans-serif;
    color: black;
    height: 18px;
    width: 18px;
    line-height: 2px;
    border-radius: 60px;
    text-align: center;
    margin:8px 8px;
}

.design {
    background-color: #e6563b;
}

.develop {
    background-color: #eb9d3a;
}

.support {
    background-color: #7cb06c;
}

.host {
    background-color: #00aba9;
}

 .header_title {
     font-family: 'Abel', sans-serif;
     width: 100%;
     text-align: center;
     margin: 0 auto;
     font-size: 4em;
 }


h1 {
    font-family: 'Anton', sans-serif;
    font-size: 13vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 70px;
}

h2  {
    font-family: 'Anton', sans-serif;
    font-size: 7.9vw;
    text-align: center;
    margin: 50px;
}

.navtabs {
     font-family: 'Abel', sans-serif;
    font-size: 1.5em;
     text-align: center;
     list-style: none;
     margin:10px auto;
 }

 .paragraph_2 {
     width: 100%;
     text-align: center;
 }


img.work_image {
    width: calc(100% - 75px);
    border: 10px solid #e6e6e6;
    border-radius: 5px;
}

.link_img {
    width: calc(50% - 50px);
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
 .codeuplogo {
     height: 105px;
     width: 105px;
     margin: 0 auto;
     /*border-radius: 500px;*/
 }

/*@media screen and (max-width: 576px) {

    .codeuplogo {
        height: 120px;
        width: 120px;
        border-radius: 500px;
    }


    .navbartop {
        width: 100%;
        padding: 0;
        display: inline-block;
    }

    div.row {
        justify-content: center;
        align-content: conter;
    }


    header {
        text-align: center;
    }
    
    main {
        width: 100%;
    }
 */